@model ProductVM


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Add Product</h2>
            <form asp-action="AddProduct">
                <div class="form-group">
                    <label for="product">Product Name</label>
                    <input type="text" class="form-control" id="product" asp-for="Name" required>
                </div>

                <div class="form-group">
                    <label for="productimage">Product Image</label>
                    <input type="url" class="form-control" id="productimage" asp-for="ImageUrl" required>
                </div>

                <div class="form-group">
                    <label for="productdesc">Product Description</label>
                    <input type="text" class="form-control" id="productdesc" asp-for="Description" required>
                </div>

                <select asp-for="CategoryId">
                    @foreach(var category in Model.Categories){
                        <option value=@category.Id >@category.Name</option>
                    }
                </select>

                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
        </div>
    </div>
</div>